.body {font-family: "Raleway", sans-serif}
.body {
  height: 100%;
  line-height: 1.8;
}
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("../assets/forestbridge.jpg");
  min-height: 100%;
}
.w3-bar .w3-button {
  padding: 16px;
}
